{% extends "base.html" %}

{% block feature %}
<div id="feature" style='height: 300px;'>
    <div id="feature-content">
        <h1>Sign In</h1>
        {% if form.non_field_errors %}
        <ul class="errorlist">
            {{form.non_field_errors.as_ul}}
        </ul>
        {% endif %}
        <form method="POST" action="/accounts/login/">
            {% csrf_token %}
            <input type='hidden' name='next' value='/search/' />
            <table>
                <tr>
                    <td><label for="id_username">Username:</label></td>
                    <td><input id="id_username" type="text" name="username" maxlength="30" /></td>
                </tr>
                <tr>
                    <td><label for="id_password">Password:</label></td>
                    <td><input type="password" name="password" id="id_password" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Sign in" /></td>
                </tr>
            </table>
            </form>
            <p><a href="/accounts/password/reset/">Forgot password?</a></p>
            <h3>Not a Registered User?</h3>
            <p>Click here to <a href="/accounts/register/">create an account.</a></p>

    </div>
    </div><!-- /#feature -->
{% endblock %}


{% block extra-content %}

<div id='extra-content'>

</div>

{% endblock %}
