{% extends "base.html" %}

{% block feature %}
<div id="feature" style='height: 300px;'>
    <div id="feature-content">
        <form method="post" action=".">
            {% csrf_token %}
            Please enter the email address you used to register your account.  We will
            email you a temporary password.
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div><!-- /#feature -->
{% endblock %}


{% block extra-content %}

<div id='extra-content'>

</div>

{% endblock %}

