{% load i18n %}
Hi {{ user.username }},

Can't remember your password, can you?  Not to worry, we're here to help.

Your username is:  {{ user.username }}

Just click this link to reset your password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url auth_password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

You're welcome,
The AgainFaster Team

--
Didn't ask to reset your password?

If you didn't ask for your password, it's likely that another user entered your
username or email address by mistake while trying to reset their password.
If that's the case, you don't need to take any further action and can safely disregard this email.
