{% extends "base.html" %}

{% block feature %}
<div id="feature" style='height: 50px;'>
    <div id="feature-content">
        <h1>Register <a href="{% url auth_login %}">or Sign In</a></h1>
    </div>
    </div><!-- /#feature -->
{% endblock %}


{% block extra-content %}

<div id='extra-content'>
    {% if form.non_field_errors %}
    <ul class="errorlist">
        {{form.non_field_errors.as_ul}}
    </ul>
    {% endif %}
    <p>
        Please fill out the following informationto create an account on CLIO.
    </p>
    <form action="." method="post">{% csrf_token %}
        <table>
            {{ form }}
        </table>
        <p class="submit"><button type="submit">Submit</button></p>
    </form>

</div>

{% endblock %}
