{% extends 'base.html' %}
{% block feature %}
<div id="feature" style='height: 180px;'>
    <div id="feature-content">
        <h1>Welcome to the CLIO World Tables</h1>
        <p>
        </p>
    </div>
</div><!-- /#feature -->
{% endblock %}


{% block extra-content %}
<div id="extra-content">
<p>
    The following folks have been involved in the creation of the CLIO World Tables:
<h1 style='font-size: 16px;'>Project Directors</h1>
    <ul style="margin-left: 5px;list-style-type:none">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            John Gerring, Professor, Department of Political Science, Boston University: jgerring at bu dot edu
        </li>
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            James Mahoney, Professor, Department of Political Science and Sociology, Northwestern University: james-mahoney at northwestern dot edu
        </li>
    </ul>

    <h1 style='font-size: 16px;margin-top: 15px;'>Project Manager</h1>
    <ul style="margin-left: 5px;list-style-type:none">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Natalie Lam:  send.to.natalie at gmail dot com
        </li>
    </ul>

    <h1 style='font-size: 16px;margin-top: 15px;'>Database Manager</h1>
    <ul style="margin-left: 5px;list-style-type:none">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Karim Nagib – PhD candidate, Department of Economics, Boston University: karimn at bu dotedu
        </li>
    </ul>

    <h1 style='font-size: 16px;margin-top: 15px;'>Web Development</h1>
    <ul style="margin-left: 5px;list-style-type:none">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Michael Trosen: mrtrosen@lab305.com
        </li>
    </ul>

<p>

</div>
{% endblock %}

