<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Peanut Search >> Economics Data >> Search</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/peanut.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/dark-hive/jquery-ui-1.8.11.custom.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/jquery.autocomplete.css" />	
	<script src="/static/js/peanut.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<script src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
</head>
<body>
	<script type="text/javascript">
		$(function() {
			$( "#startdate" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$( "#enddate" ).datepicker({ dateFormat: 'yy-mm-dd' });
		});
	</script>
	<div id="links"><span id="tag">Search: </span>| <a href="../government">Government Data</a> | <a href="../education">Education Data</a> | <a href="../population">Population Data</a> | <a href="../economics">Economics Data</a> ||</div>
	<div id="form" align="center">
		<form action='economics' method='get'>
				Start date:  <input type="text" id="startdate" name="startdate" value="{{ startdate|escape }}" />
				End date:  <input type="text" id="enddate" name="enddate" value="{{ enddate|escape }}" />
			<br /><br /><br />
			Source:  <input type="text" id="sourceinput" name="sourceinput" value = "{{ sourceinput|escape }}" />
			<br /><br /><br />
			<div class="ui-widget">
				Location:  <input type="text" id="locations" name="locations" value = "{{ searchlocations|escape }}" />
				<script>
			   		$(function(){
			   			function formatItem(row) {
							return row;
						}
						function formatResult(row) {
							//return row.replace(/(<.+?>)/gi, '');
							return row;
						}  			
			   			
			   			$("#locations").autocomplete('{% url economics.views.locationlookup %}', {		   			
							width: 320,
							max: 10,
							cacheLength: 10,
							highlight: false,
							multiple: true,
							multipleSeparator: ", ",
							scroll: true,
							scrollHeight: 300,
							dataType: 'json',
							formatItem: formatItem,
							formatResult: formatResult,
							parse: function(data) {
									return $.map(data, function(row) {
										return { data:row, value:row, result:row };
									});
								}}).result(
									function(e, row, data) {
				          				$("#locations").val = row;
				      				});	
				      
			   		});
				</script>
				<br /><br /><br />
			</div>
			<input type='submit' name='search' value='Search' />
		</form>
	</div>
	<div id="results">
		{% if results %}
		<table>
			<tr><td>ID</td><td>Active</td><td>Submitted By</td><td>Created</td><td>Page No</td><td>Source</td><td>Begin Date</td><td>End Date</td><td>Circa</td><td>Location</td><td>Original Location Name</td><td>Alternate Location Name</td><td>Is Total ?</td><td>Value Units</td><td>Remarks</td><td>Imports</td><td>Exports</td><td>Imports Value Units</td><td>Exports Value Units</td><td>Currency</td><td>Primary Source Text</td><td>Primary Source Object</td></tr>
			{% for data in results.object_list %}
				<tr><td>{{ data.id }}</td><td>{{ data.active }}</td><td>{{ data.submitted_by }}</td><td>{{ data.datetime_created }}</td><td>{{ data.page_num }}</td><td><a href="../sourceinfo?source='{{ data.source }}'">{{ data.source }}</a></td><td>{{ data.begin_date }}</td><td>{{ data.end_date }}</td><td>{{ data.circa }}</td><td>{{ data.location }}</td><td>{{ data.original_location_name }}</td><td>{{ data.alternate_location_name }}</td><td>{{ data.is_total }}</td><td>{{ data.value_unit }}</td><td>{{ data.remarks }}</td><td>{{ data.imports }}</td><td>{{ data.exports }}</td><td>{{ data.imports_value_unit }}</td><td>{{ data.exports_value_unit }}</td><td>{{ data.currency }}</td><td>{{ data.primary_source_text }}</td><td>{{ data.primary_source_obj_id }}</td></tr>
			{% endfor %}
		</table>
		<div class="pagination">
			<span class="step-links">
				<span><a href="?search={{ search }}&page=1&startdate={{ startdate }}&enddate={{ enddate }}&locations={{ searchlocations }}&sourceinput={{ sourceinput }}">first&nbsp;&nbsp;</a></span>
				{% if results.has_previous %}
					<a href="?search={{ search }}&page={{ results.previous_page_number }}&startdate={{ startdate }}&enddate={{ enddate }}&locations={{ searchlocations }}&sourceinput={{ sourceinput }}"><span class="pagination-text-right">previous</span></a>
				{% endif %}
			<span class="current">
				Page {{ results.number }} of {{ results.paginator.num_pages }}.
			</span>
				{% if results.has_next %}
					<a href="?search={{ search }}&page={{ results.next_page_number }}&startdate={{ startdate }}&enddate={{ enddate }}&locations={{ searchlocations }}&sourceinput={{ sourceinput }}"><span class="pagination-text-left">next</span></a>
				{% endif %}
				<span><a href="?search={{ search }}&page={{ results.paginator.num_pages }}&startdate={{ startdate }}&enddate={{ enddate }}&locations={{ searchlocations }}&sourceinput={{ sourceinput }}">&nbsp;&nbsp;last</a></span>
			</span>
		{% endif %}
	</div>
	<div>
		<a href="../export?rset={{ rset }}">Export</a><br />
		<a href="../export?rset={{ results.object_list }}">Export</a><br />
		<a href="../export?rset={{ results }}">Export</a><br />		
	</div>
</body>
</html>
