{% extends 'base.html' %}
{% block feature %}
<div id="feature" style='height: 180px;'>
    <div id="feature-content">
        <h1>Welcome to the CLIO World Tables</h1>
        <p>
            The CLIO World Tables include historical data pertaining to a wide range of demographic, economic,
            political, and socio-cultural phenomena. The database draws on diverse set of sources – published
            and unpublished, hard copy and digital, archival and non-archival, English and foreign language.
            Longitudinal coverage extends back at least a century, and in a few instances for millennia. Spatial
            coverage is global, which is to say that every variable included in the collection spans at least two
            continents.
        </p>
    </div>
</div><!-- /#feature -->
{% endblock %}


{% block extra-content %}
<div id="extra-content">
<p>
    This data speaks to a wide range of problems and questions including colonialism/imperialism,
    conflict (intra- and inter-state), democracy, development, the diffusion of cultures,
    globalization and trade, nation and state formation, religion, revolution, and slavery – to name only a
    few. Indeed, one can scarcely predict the uses which this varied collection of evidence might serve –
    for students, teachers, academics, or policymakers.
    CLIO is intended to be a public good, providing free access to historical data about diverse topics.
    We ask three things of our users:
    <ul style="margin-left: 5px;list-style-type:square">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Register on the site. This helps us maintain site security, gives us a bit of information
            about our end-users (which we can report to our funders), and helps us chart the future
            direction of CLIO. It also allows us to inform you when there are important additions or
            renovations to the site (if you indicate a wish to be contacted). All contact information is
            strictly confidential and will not be shared with anyone or used for commercial purposes.
        </li>
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Cite any data drawn from the site (a) according to the original data source(s) indicated in the
            Source field and (b) its immediate source, CLIO. Thus, if you are using data on land area
            whose original source is Union Postale Universelle Statistique Generale, you should cite this
            source with the additional notation “drawn from CLIO World Tables”, along with our
            web URL or our project document (see below).
        </li>
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            Help us improve CLIO by (a) making us aware of problems with the data or data
            descriptions, (b) contributing your own data to the site, and (c) making suggestions about
            data sources that we might not be aware of. These will be integrated periodically to the
            database.
        </li>
    </ul>
<p>

<h1 style='font-size: 20px;'>Financial Support</h1>
<p style='margin-top: 8px;'>
    National Science Foundation (grants 0648292 and 0647921)
    With additional funding from…
    <ul style="margin-left: 5px;list-style-type:square">
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            The Clinton Global Initiative at Boston University (principal funder: Kirk Radke)
        </li>
        <li style="font-size: 14px;margin-left: 20px;margin-top: 10px;line-height: 16px;">
            The Frederick S. Pardee Center at Boston University
        </li>
    </ul>
</p>
<br /><br />

</div>
{% endblock %}

