<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Peanut Search >> Population Data >> Search</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/peanut.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/dark-hive/jquery-ui-1.8.11.custom.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/static/css/jquery.autocomplete.css" />	
	<script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<script src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
</head>
<body>
	<script type="text/javascript">
		$(function() {
			$( "#startdate" ).datepicker({ dateFormat: 'yy-mm-dd' });
			$( "#enddate" ).datepicker({ dateFormat: 'yy-mm-dd' });
		});
	</script>
	</script>
	<div id="links"><span id="tag">Search: </span>| <a href="../government">Government Data</a> | <a href="../education">Education Data</a> | <a href="../population">Population Data</a> | <a href="../economics">Economics Data</a> ||</div>
	<div id="form" align="center">
		<form action='population' method="GET">
			<div>
			Start date:  <input type="text" id="startdate" name="startdate" value="{{ startdate|escape }}" />
			End date:  <input type="text" id="enddate" name="enddate" value="{{ enddate|escape }}" />
			<br /><br />
			</div>
			Source:  <input type="text" id="sourceinput" name="sourceinput" value = "{{ sourceinput|escape }}" /><br /><br />
			Location:  <input type="text" id="locations" name="locations" value = "{{ searchlocations|safe }}" /><br />
			<script>
				$(function(){
		   			function formatItem(row) {
						return row;
					}
					function formatResult(row) {
						//return row.replace(/(<.+?>)/gi, '');
						return row
					}  			
		   			
		   			$("#locations").autocomplete('{% url economics.views.locationlookup %}', {		   			
						width: 320,
						max: 10,
						cacheLength: 10,
						highlight: false,
						multiple: true,
						multipleSeparator: ", ",
						scroll: true,
						scrollHeight: 300,
						dataType: 'json',
						formatItem: formatItem,
						formatResult: formatResult,
						parse: function(data) {
								return $.map(data, function(row) {
									return { data:row, value:row, result:row };
								});
							}}).result(
								function(e, row, data) {
		               				$("#locations").val = row;
		           				});	
		   		});	
			</script>
			<br />
			Age/Gender filter:<br /><br />
			Gender: <input type="radio" name="genders" value="m" /> Male
			<input type="radio" name="genders" value="f" /> Female
			<input type="radio" name="genders" value="e" checked="yes" /> Either<br /><br />
			Minumum age: <input type="text" name="minage" value="{{ minage }}" />&nbsp;&nbsp;&nbsp;
			Maximum age: <input type="text" name="maxage" value="{{ maxage }}" /><br /><br />
			<input type="submit" name="search" value="Search" />
			<br /><br /><br />
		</form>
	</div>
	<div id="pop_results" align="center">
		{% if results %}
			<script>
				//$('#form').fadeToggle(1000);
			</script>
			<table>
				<!--<tr><td>ID</td><td>Active</td><td>Submitted By</td><td>Created</td><td>Page No</td><td>Source</td><td>Begin Date</td><td>End Date</td><td>Circa</td><td>Location</td><td>Original Location Name</td><td>Alternate Location Name</td><td>Is Total ?</td><td>Value Units</td><td>Remarks</td><td>Religion</td><td>Race</td><td>Ethicity</td><td>Ethic origin</td><td>Age Start</td><td>Age End</td><td>Individual Family</td><td>Population Gender</td><td>Population Value</td><td>Value Precision</td><td>Population Condition</td><td>Occupation</td><td>Old Source</td><td>Primary Source Text</td><td>Primary Source Object</td></tr>-->
				<tr><td>Source</td><td>Begin Date</td><td>End Date</td><td>Circa</td><td>Location</td><td>Is Total ?</td><td>Value Units</td><td>Age Start</td><td>Age End</td><td>Population Gender</td></tr>
			{% for data in results.object_list %}
				<!--<tr><td>{{ data.id }}</td><td>{{ data.active }}</td><td>{{ data.submitted_by }}</td><td>{{ data.datetime_created }}</td><td>{{ data.page_num }}</td><td>{{ data.source }}</td><td>{{ data.begin_date }}</td><td>{{ data.end_date }}</td><td>{{ data.circa }}</td><td>{{ data.location }}</td><td>{{ data.original_location_name }}</td><td>{{ data.alternate_location_name }}</td><td>{{ data.is_total }}</td><td>{{ data.value_unit }}</td><td>{{ data.remarks }}</td><td>{{ data.religion }}</td><td>{{ data.race }}</td><td>{{ data.ethnicity }}</td><td>{{ data.ethnic_origin }}</td><td>{{ data.age_start }}</td><td>{{ data.age_end }}</td><td>{{ data.individ_fam }}</td><td>{{ data.population_gender }}</td><td>{{ data.population_value }}</td><td>{{ data.value_precision }}</td><td>{{ data.population_condition }}</td><td>{{ data.occupation }}</td><td>{{ data.old_source }}</td><td>{{ data.primary_source_text }}</td><td>{{ data.primary_source_obj }}</td></tr>-->
				<tr><td>{{ data.source }}</td><td>{{ data.begin_date }}</td><td>{{ data.end_date }}</td><td>{{ data.circa }}</td><td>{{ data.location }}</td><td>{{ data.is_total }}</td><td>{{ data.value_unit }}</td><td>{{ data.age_start }}</td><td>{{ data.age_end }}</td><td>{{ data.population_gender }}</td></tr>
			{% endfor %}
			</table>
		<div class="pagination">
			<span class="step-links">
				<span><a href="?locations={{ searchlocations }}&page=1&search={{ search }}&startdate={{ startdate }}&enddate={{ enddate }}&sourceinput={{ sourceinput }}&minage={{ minage }}&maxage={{ maxage }}&genders={{ genders }}">first&nbsp;&nbsp;</a></span>
				{% if results.has_previous %}			
					<a href="?locations={{ searchlocations }}&page={{ results.previous_page_number }}&search={{ search }}&startdate={{ startdate }}&enddate={{ enddate }}&sourceinput={{ sourceinput }}&minage={{ minage }}&maxage={{ maxage }}&genders={{ genders }}"><span class="pagination-text-right">previous</span></a>
				{% endif %}
			<span class="current">
				Page {{ results.number }} of {{ results.paginator.num_pages }}.
			</span>
			{% if results.has_next %}
				<a href="?locations={{ searchlocations }}&page={{ results.next_page_number }}&search={{ search }}&startdate={{ startdate }}&enddate={{ enddate }}&sourceinput={{ sourceinput }}&minage={{ minage }}&maxage={{ maxage }}&genders={{ genders }}"><span class="pagination-text-left">next</span></a>
			{% endif %}
			<span><a href="?locations={{ searchlocations }}&page={{ results.paginator.num_pages }}&search={{ search }}&startdate={{ startdate }}&enddate={{ enddate }}&sourceinput={{ sourceinput }}&minage={{ minage }}&maxage={{ maxage }}&genders={{ genders }}">&nbsp;&nbsp;last</a></span>
		</span>
	</div>
		{% endif %}
</body>
</html>
