<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Peanut Search >> Economics Data >> Search</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" media="screen" type="text/css" href="media/peanut.css" />
	<link rel="stylesheet" media="screen" type="text/css" href="/jquery-ui-1.8.9.custom.css" />
	<script src="http://code.jquery.com/jquery-1.5.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js" type="text/javascript"></script>
	<script src="http://jquery.bassistance.de/autocomplete/jquery.autocomplete.js" type="text/javascript"></script>
	<style>
		#input {
			position: fixed;
			position: absolute;
			top: 20%;
		}
		* {
			font: 12px Ubuntu;
		}
	</style>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#locations').keyup(function(){
				$(this).parent().append("<div id='input'></div>");
				$('#input').html("Searching for:"+$(this).val());
		});
		});
	</script>
</head>
<body>
	<form action="test">
		<input type="text" id="locations" name="locations" value = "{{ slocations }}" />
		<input type="submit" name="lsearch" value="Search locations" />
	</form>
	<div>
		{% if results %}
		<table>
		{% for data in results %}
			<tr><td>{{ data.id }}</td><td>{{ data.location }}</td></tr>
		{% endfor %}
		</table>
		{% endif %}
	</div>
</body>
</html>
