#results td{
    padding: 5px;
    text-align: center;
    border-right: solid 1px #AAA;
    border-left: solid 1px #AAA;
}

#results th {
	background-color: #CCC;
	padding: 5px;
	border: solid 1px #FFF;
	font-weight: bold;
}
#results th:hover {
	background-color: #DDD;
}
#results tr {
	background-color: #DDD;
	padding: 5px;
}
#results tr:hover {
	background-color: #CCC;
}
#results tr>input {
	background-color: #DDD;
}
#results tr>input:hover {
	background-color: #CCC;
}

td{
    padding: 5px;
}
th{
    padding: 5px;
}


#tag {
	color: #282828;
	font-weight: bold;
}

#browseresults {
	position: fixed;
	position: absolute;
	top: 40%;
	left: 35%;
	right: 35%;
}

#error {
	color: #000;
}

.pagination {
	text-align: center;
}

.pagination-text-left {
	padding-left: 0.5%;
}

.pagination-text-right {
	padding-right: 0.5%;
}

#pop_results {
	position: fixed;
	position: absolute;
	top: 60%;
	left: 30%;
	right: 30%;
}
